.overlay{
  position:fixed;
  background-color: blue;
   
  -webkit-animation:300s scroll infinite linear;
  -moz-animation:300s scroll infinite linear;
  -o-animation:300s scroll infinite linear;
  animation:300s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
 z-index:-3;
 
}

.overlay2{
  position:fixed;
    background-color: blue;
 -webkit-animation:275s scroll infinite linear;
  -moz-animation:275s scroll infinite linear;
  -o-animation:275s scroll infinite linear;
  animation:275s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
 z-index:-2;

}

.overlay3{
  position:fixed;
      background-color: blue;
 -webkit-animation:250s scroll infinite linear;
  -moz-animation:250s scroll infinite linear;
  -o-animation:250s scroll infinite linear;
  animation:250s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
 z-index:-1;

}

@-moz-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}


.message
{
    background-image:none;
   border:none; 
    font-family: none;
    font-size:x-large;
    text-align:center;
    align-content:center;
    color:#D8D8F6;
    padding:10px;
    position: fixed;
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 15%;
    margin-bottom: auto;
    width: 32%;
    height: auto;
    z-index: 100;

}

.title
{
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: none;
    font-size:xx-large;
    text-align:center;
    align-content:center;
    color:#D8D8F6;
    padding:10px;
    position: fixed;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

.car
{   
    position:relative;    
    left:0%;
   -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
   transition: all .5s linear;
   z-index: 5;
   margin-top: 3%;
   overflow: hidden;
}

.carImg
{
 
}

.backgrounds
{
    position:absolute;
   -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
   transition: all .5s linear;
}

.goLight
{
    text-align:center;
    position:fixed;
    float:right;
    top: 3%;
   right: 3%;
    z-index: 100;
}

a
{
    display:inline-block;
    background-image: url(redlight.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}

a:hover{

    text-decoration:none;
    cursor: pointer;
}

body, html
{
    max-width: 100%;
    overflow: hidden;
}
